<div class="bg-gray-50 w-full">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-full bg-white rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Sign in to your account
                </h1>
                <form class="space-y-4 md:space-y-6" (ngSubmit)="login()">
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
                        <input 
                            type="email" 
                            name="email" 
                            id="email" 
                            [(ngModel)]="email" 
                            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" 
                            placeholder="name@company.com" 
                            required />
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                        <input 
                            type="password" 
                            name="password" 
                            id="password" 
                            [(ngModel)]="password" 
                            placeholder="••••••••" 
                            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" 
                            required />
                    </div>
                    <div *ngIf="errorMessage" class="text-red-500">
                        {{ errorMessage }}
                      </div>
                    <button class="w-full rounded-lg items-center justify-center text-sm px-5 h-12 text-center bg-cyan-600 text-white flex">
                        <div *ngIf="!loading">Login</div>
                        <svg *ngIf="loading" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="50" height="50" style="shape-rendering: auto; display: block; "><g><g transform="rotate(0 50 50)">
                            <rect fill="#fe718d" height="12" width="6" ry="6" rx="3" y="24" x="47">
                              <animate repeatCount="indefinite" begin="-0.9166666666666666s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"/>
                            </rect>
                          </g><g transform="rotate(30 50 50)">
                            <rect fill="#fe718d" height="12" width="6" ry="6" rx="3" y="24" x="47">
                              <animate repeatCount="indefinite" begin="-0.8333333333333334s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"/>
                            </rect>
                          </g><g transform="rotate(60 50 50)">
                            <rect fill="#fe718d" height="12" width="6" ry="6" rx="3" y="24" x="47">
                              <animate repeatCount="indefinite" begin="-0.75s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"/>
                            </rect>
                          </g><g transform="rotate(90 50 50)">
                            <rect fill="#fe718d" height="12" width="6" ry="6" rx="3" y="24" x="47">
                              <animate repeatCount="indefinite" begin="-0.6666666666666666s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"/>
                            </rect>
                          </g><g transform="rotate(120 50 50)">
                            <rect fill="#fe718d" height="12" width="6" ry="6" rx="3" y="24" x="47">
                              <animate repeatCount="indefinite" begin="-0.5833333333333334s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"/>
                            </rect>
                          </g><g transform="rotate(150 50 50)">
                            <rect fill="#fe718d" height="12" width="6" ry="6" rx="3" y="24" x="47">
                              <animate repeatCount="indefinite" begin="-0.5s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"/>
                            </rect>
                          </g><g transform="rotate(180 50 50)">
                            <rect fill="#fe718d" height="12" width="6" ry="6" rx="3" y="24" x="47">
                              <animate repeatCount="indefinite" begin="-0.4166666666666667s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"/>
                            </rect>
                          </g><g transform="rotate(210 50 50)">
                            <rect fill="#fe718d" height="12" width="6" ry="6" rx="3" y="24" x="47">
                              <animate repeatCount="indefinite" begin="-0.3333333333333333s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"/>
                            </rect>
                          </g><g transform="rotate(240 50 50)">
                            <rect fill="#fe718d" height="12" width="6" ry="6" rx="3" y="24" x="47">
                              <animate repeatCount="indefinite" begin="-0.25s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"/>
                            </rect>
                          </g><g transform="rotate(270 50 50)">
                            <rect fill="#fe718d" height="12" width="6" ry="6" rx="3" y="24" x="47">
                              <animate repeatCount="indefinite" begin="-0.16666666666666666s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"/>
                            </rect>
                          </g><g transform="rotate(300 50 50)">
                            <rect fill="#fe718d" height="12" width="6" ry="6" rx="3" y="24" x="47">
                              <animate repeatCount="indefinite" begin="-0.08333333333333333s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"/>
                            </rect>
                          </g><g transform="rotate(330 50 50)">
                            <rect fill="#fe718d" height="12" width="6" ry="6" rx="3" y="24" x="47">
                              <animate repeatCount="indefinite" begin="0s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"/>
                            </rect>
                          </g><g/></g><!-- [ldio] generated by https://loading.io --></svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
